body {
    font-size: 14px;
    color: #666666;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,
h3 {
    color: #4d4d4d;
    font-weight: 700;
}

.container {
    margin-top: 7%;
}

.social {
    margin: 30px auto 30px;
}

.social a {
    color: #4d4d4d;
    padding: 4px;
    transition: all .3s;
}

.social a:first-child {
    padding-left: 0;
}

.social a:hover {
    color: #666666;
    transition: all .3s;
}

.social .bi {
    font-size: 2em;
}


/* Store */

.cart {
    padding-top: 17px;
}

.cart .bi-bag {
    font-size: 1.5em;
}

.btn-bag,
.btn-bag:active {
    height: 50px;
    width: 50px;
    border: none;
}

.cart .bi-circle-fill {
    font-size: 1.1em;
    position: relative;
    top: -22px;
    left: 9px;
}

.cart .item-count .count {
    color: #fff;
    text-align: center;
    position: relative;
    top: -50px;
    left: 9px;
    font-size: .8em;
    font-weight: 700;
}

.cart .dropdown-menu {
    padding-top: 3px;
    width: 350px;
}

.cart .dropdown-menu li .row {
    padding: 0 10px 0 10px;
}

.cart-image {
    border-radius: 5px;
    margin-top: 6px;
    width: 50px;
}

.cart .option {
    display: block;
    font-size: 0.8em;
    margin-top: -5px;
}

.price {
    line-height: 1.9em;
    font-size: 1.25em;
    font-weight: 700;
    text-align: right;
}

input[type=number] {
    text-align: center;
}

/* Hide number input up & down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}